.Team {
    margin: 0.5rem;
    padding: 0.8rem;
    border-radius: 5px;
    background-color: #2580e3;
    border: 2px solid white;
    color: white;
    transition: 1s ease;
}

.Team img {
    width: 5rem;
}

.Team:hover {
    cursor: pointer;
    background-color: #004fa3;
    scale: 1.05;
    transition: 1s ease;
}