.Game {
    margin: 1rem;
    padding: 0.8rem;
    border-radius: 5px;
    background-color: #2580e3;
    border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
}

.Game img {
    width: 5rem;
}


.Game:hover {
    cursor: pointer;
    background-color: #004fa3;
}