.allGames{
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .allGames{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}